.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.root {
    width: 50%;
    padding: 20px;
    border: 1px solid #8b8787;
    margin-top: 20px;
}

.field {
    margin-bottom: 20px !important;
}

.title {
    text-align: center !important;
    font-weight: bold !important;
    margin-bottom: 40px !important;
}

.isRemember {
    display: flex;
    align-items: center;
} 

.regLink{
    text-align: center;
    *{
        margin-top: 10px;
    }
}