.table-container {
    width: 100%;

    table {
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 20px;

      th, td {
        padding: 12px;
        text-align: left;
        border-bottom: 1px solid #ddd;
      }

      th {
        background-color: #f2f2f2;
        color: #000000;
      }

      tr {
        background-color: #f9f9f9;
      }

      td img {
        max-width: 50px;
        max-height: 50px;
        border-radius: 50%;
      }
    }
}