.mainContainer {
    display: flex;
    min-height: 93vh;
    justify-content: center;
}

header {
    display: flex;
    align-items: center;
    background-color: rgb(0, 80, 184);
    height: 100px;

    .headerContent {
        height: 100%;
        display: flex;
        max-width: 1200px;
        width: 100%;
        justify-content: space-between;
        margin: 0 auto;
        color: white;
        padding: 0 20px;
    }

    .logoutButton {
        background-color: transparent;
        color: white;
        border: none;
        cursor: pointer;
        font-size: 16px;
        padding: 10px 20px;
        border-radius: 5px;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: rgba(255, 255, 255, 0.1);
        }
    }
}

footer {
    height: 10vh;
    display: flex;
    align-items: center;
    padding: 0.5em 1em 0.5em;
    background-color: rgb(0, 80, 184);
    color: white;
}