.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: white;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
}